* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans";
    
}

nav.nav-top{
    /* background-color: violet; */
    background-image: linear-gradient(to right, white, purple);
}
nav.nav-top img {
    width: 50px;
}

.nav-top .sign-in {
    float: right;
    margin: 1.3rem 1rem;
    color: white; /* | için */
    font-weight: 700;
}

.nav-top .sign-in a {
    color: white;
    text-decoration: none;
}

.nav-top .sign-in a:hover {
    color: black;
} 

.clearfix{
    display: both;
}

/*---------------------------
NAV-MAİN */

.nav-main {
    background-color: orange;
    padding: 2rem;
    text-align: center;
    position: sticky;
    top: 0;
 
}

.nav-main a {
    color: black;
    text-decoration: none;
    font-weight: 900;
    padding-right: 6rem;
    padding-bottom:3rem ;
    
}

.nav-main a:hover {
    color: white;
}

/*---------------------------
MAİN */

main  {
    text-align: justify;
    margin: 3rem;

}


i {
    background-color: red;
    color: white;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 10px;
    position: fixed;
    right: 1rem;
    bottom: 5rem;
    
  }

i:hover {
   
    color: black;
}



